main {
    text-decoration: none;
    background-color: #FFFFFF;
    color: #FFFFFF;
}

.titulo-contato {
  width: 100%;
  background-color: #2F2F2F;
}

.titulo-contato h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.centralizar-contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.github {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.github img {
  width: 5%;
  margin-right: 10px;
}

.github a {
  text-decoration: none;
  color: #FFF;
}

.github span:hover{
  color: rgb(219, 219, 219);
}

.div-frez, .div-pedro, .div-gustavo {
    background-color: #000;
    text-align: center;
}

.div-barbara, .div-ale {
  background-color: #2F2F2F;
  text-align: center;
}

.border-5, .border-w-5 {
    border-width: 5px !important;
}
.border-white {
    border: 1px solid transparent;
    border-color: #FFFFFF !important;
}
hr.hr-primary {
    border-top-color: #CC164D!important;
}
em {
    font-style: italic;
}
.font-weight-normal {
    font-weight: 400 !important;
}

footer {
    width: 100%;
    height: 60px;
    color: #FFFFFF;
    background-color: #F31D1D;
  }
  
  .footer {
   text-align: center;
   padding-top: 8px;
  }
  
  footer img {
    width: 100px;
  }