/* -------------- BUSCADOR -----------------*/

body {
font-family: "Roboto", sans-serif;
min-width: 250px;
box-sizing: border-box;
background-color: #3c3c3c;
}

header {
background-color: #000;
}

/* ------------- HEADER --------------- */

nav {
width: 100%;
height: 70px;
z-index: 50;
position: initial;
}

.logo a img {
width: 130px;
}

label.logo {
position: absolute;
margin: 22px 30px;
}

nav ul {
float: right;
margin-right: 15px;
}

nav ul li {
display: inline-block;
line-height: 20px;
margin-top: 22px;
}

nav ul li a {
color: #fff;
font-size: 15px;
text-transform: uppercase;
font-weight: bold;
margin: 15px;
text-decoration: none;
letter-spacing: 2px;
}

nav ul li a:hover {
color: rgb(219, 219, 219);
transition: 0.2s;
}

.sem-hover:hover {
color: #fff;
}

.assinante {
background-color: #f31d1d;
padding: 7px;
border: none;
border-radius: 5px;
}

.checkbtn {
font-size: 30px;
color: #f31d1d;
float: right;
line-height: 70px;
margin-right: 40px;
cursor: pointer;
display: none;
z-index: 50;
}

#check {
display: none;
}

.lupa {
width: 16px;
cursor: pointer;
}
/* ---------------- BARRA DE PESQUISA --------------- */

.s130 {
min-height: 30vh;
display: -ms-flexbox;
display: flex;
-ms-flex-pack: center; 
justify-content: center;
background-position: bottom right;
background-repeat: no-repeat;
background-size: 100%;
padding: 15px;
}

.s130 form {
width: 100%;
max-width: 790px;
padding-top: 8vh;
}

.s130 form .inner-form {
display: -ms-flexbox;
display: flex;
width: 100%;
-ms-flex-pack: justify;
justify-content: space-between;
-ms-flex-align: center;
align-items: center;
box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
border-radius: 34px;
overflow: hidden;
margin-bottom: 30px;
}

.s130 form .inner-form .input-field {
    height: 68px;
}

.s130 form .inner-form .input-field input {
    height: 100%;
    background: transparent;
    border: 0;
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
}

.s130 form .inner-form .input-field input.placeholder {
    color: #222;
    font-size: 16px;
}

.s130 form .inner-form .input-field input:-moz-placeholder {
    color: #222;
    font-size: 16px;
}

.s130 form .inner-form .input-field input::-webkit-input-placeholder {
    color: #222;
    font-size: 16px;
}

.s130 form .inner-form .input-field input:hover, .s130 form .inner-form .input-field input:focus {
    box-shadow: none;
    outline: 0;
}

.s130 form .inner-form .input-field.first-wrap {
    -ms-flex-positive: 1;
        flex-grow: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    background: #FFFFFF;
}

.s130 form .inner-form .input-field.first-wrap input {
    -ms-flex-positive: 1;
        flex-grow: 1;
}

.s130 form .inner-form .input-field.first-wrap .svg-wrapper {
    min-width: 80px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.s130 form .inner-form .input-field.first-wrap svg {
    width: 36px;
    height: 36px;
    fill: #222;
}

.s130 form .inner-form .input-field.second-wrap {
    min-width: 216px;
}

.s130 form .inner-form .input-field.second-wrap .btn-search {
    height: 100%;
    width: 100%;
    white-space: nowrap;
    font-size: 16px;
    color: #fff;
    border: 0;
    cursor: pointer;
    position: relative;
    z-index: 0;
    background: red;
    transition: all .2s ease-out, color .2s ease-out;
    font-weight: 300;
}

.s130 form .inner-form .input-field.second-wrap .btn-search:hover {
    background: rgb(194, 1, 1);
}

.s130 form .inner-form .input-field.second-wrap .btn-search:focus {
    outline: 0;
    box-shadow: none;
}

/* ---------------- CARDS DOS FILMES --------------- */
#movie-cards {
width: 100%;
/* float: left; */
display: inline-block;
/* grid-template-columns: auto; */
/* grid-column-gap: 0; */
/* padding: 3%; */
/* margin-right: 0; */
/* padding-right: 0; */
}
.cardm {
width: 80%;
height: fit-content;
float: left;
margin: 6% 0 6% 8%;
background: #000000;
color: #FFFFFF;
border-radius: 10px;
/* position: relative; */
}

.cardm:nth-child(even){
/* float: left; */
/* width: 90%; */
margin-left: 2%;
}

.card-left {
width: 22%;
float: left;
}
.card-right {
float: left;
width: 60%;
text-align: left;
padding: 2%;
padding-left: 5%;
}

.card-right h1 {
font-size: 50px;
}
.card-left img {
border-radius: 10px 0 0 10px;
/* max-height: 426px; */
width: 100%;
/* width: -webkit-fill-available; */
/* height: fit-content; */
}

.card-right-info ul li {
    float: left;
    margin-right: 6%;
}

.card-right-info ul {
    width: 100%;
    text-align: left;
    float: left;
    padding: 0;
    font-size: 18px;
    margin-bottom: 2%;
}

.card-right-info ul:nth-child(3) {
    margin-bottom: 0!important;
}

.card-right-info {
margin-top: 3%;
}

.card-right-info p {
font-size: 25px;
margin: 0 0 2% 0;
}
/* ---------------- FOOTER --------------- */

footer {
width: 100%;
height: 60px;
color: #fff;
background: #de0000;
}

.footer {
text-align: center;
padding-top: 8px;
background: #d80000;
overflow: hidden;
position: fixed;
bottom: 0;
}

footer img {
width: 100px;
}


/* -------------- MENU RESPONSIVO -------------- */

@media (max-width: 750px) {
.checkbtn {
display: block;
z-index: 50;
}

.none {
display: none;
}

.assinante {
background-color: #000;
color: #fff;
padding: 7px;
border: none;
border-radius: 5px;
}

.sem-hover-btn:hover {
color: #fff;
background-color: black;
}

ul {
position: absolute;
width: 100%;
height: 100vh;
background: #f31d1d;
top: 70px;
left: -100%;
text-align: center;
transition: all 0.5s;
z-index: 10;
}

nav ul li {
display: block;
margin: 20px 0;
line-height: 30px;
}

nav ul li a {
font-size: 16px;
color: white;
font-weight: bold;
}

nav ul li a:hover {
color: #fff;
}

a:hover,
a.active {
background: none;
}

#check:checked ~ ul {
left: 0;
}
}

/* ---------------- BARRA DE PESQUISA RESPONSIVA --------------- */

@media screen and (max-width: 992px) {
.s130 form .inner-form .input-field {
    height: 50px;
}
}

@media screen and (max-width: 767px) {
.s130 form .inner-form .input-field.first-wrap .svg-wrapper {
    min-width: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px;
}
.s130 form .inner-form .input-field.first-wrap svg {
    width: 26px;
    height: 26px;
    fill: #222;
}
.s130 form .inner-form .input-field.second-wrap {
    min-width: 100px;
}
.s130 form .inner-form .input-field.second-wrap .btn-search {
    font-size: 13px;
}
}