body {
  background-image: url('../img/bg-login.png');
  background-size: cover;
  height: 100vh;
  background-position: inherit;
  background-repeat: no-repeat;
  color: #fff;
  
}

.hidden {
  display: none;
}
.show {
  display: block !important;
}

.alert-success {
  color: #000;
  background-color: #8bf6a6;
  border: none;
}

.login-box {
  width: 280px;
  height: 350px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 5px 10px rgba(78, 78, 78, 0.8);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 70px 30px;
}

.logo-login {
  width: 70%;
  height: auto;
  position: absolute;
  top: 13%;
  left: calc(25% - 25px);
}

.login-box p {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 0;
  line-height: 18px;
}
.mais-margin {
  margin-top: 30px;
}

.mais-padding-abaixo {
  padding-bottom: 18px;
}

.input-login {
  width: 220px;
  height: 30px;
  border: none;
  border-radius: 2px;
  outline: none;
  margin-bottom: 20px;
}

.menos-margin {
  margin-bottom: 0px;
}

.input-login::placeholder {
  color: #000;
  font-size: 0.85rem;
  padding-left: 5px;
}

.btn-login {
  background-color: #f31d1d;
  border: none;
  width: 220px;
  height: 35px;
  color: #fff;
  border-radius: 4px;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-login:hover {
  background-color: rgb(194, 1, 1);
}

.login-box a {
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.login-box a p {
  padding-top: 15px;
  font-size: 0.85rem;
}

.login-box a p:hover {
  color: rgb(219, 219, 219);
}
