/* -------------- HOME -----------------*/

body {
  font-family: "Roboto", sans-serif;
  min-width: 250px;
  box-sizing: border-box;
}

header {
  background-color: #000;
}

/*MENU*/

nav {
  width: 100%;
  height: 70px;
  z-index: 50;
  position: initial;
}

.logo a img {
  width: 130px;
}

label.logo {
  position: absolute;
  margin: 22px 30px;
}

nav ul {
  float: right;
  margin-right: 15px;
}

nav ul li {
  display: inline-block;
  line-height: 20px;
  margin-top: 22px;
}

nav ul li a {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 15px;
  text-decoration: none;
  letter-spacing: 2px;
}

nav ul li a:hover {
  color: rgb(219, 219, 219);
  transition: 0.2s;
}

.sem-hover:hover {
  color: #fff;
}

.assinante {
  background-color: #f31d1d;
  padding: 7px;
  border: none;
  border-radius: 5px;
}

.checkbtn {
  font-size: 30px;
  color: #f31d1d;
  float: right;
  line-height: 70px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  z-index: 50;
}

#check {
  display: none;
}

.lupa {
  width: 16px;
  cursor: pointer;
}

/*Carrossel Filmes*/

.carousel-inner {
  height: 80vh;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

/*TEXTO RESILIA*/

.resiliaflix {
  background-color: #000;
}

.resiliaflix img {
  width: 18%;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0 auto;
  display: flex;
}

.texto-descricao-resilia {
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 0;
  padding-bottom: 20px;
}

/*GALERIA FILMES*/

.container-resilia {
  max-width: 1400px;
  margin: 0 auto;
}

.galeria {
  width: 100%;
  background-color: #2f2f2f;
  padding-top: 30px;
  padding-bottom: 30px;
}

.galeria-resilia {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.galeria-resilia img {
  margin: 10px;
}

.galeria-resilia img:hover{
  opacity : 0.4;
  transition: 0.4s;
}

/*FOOTER*/

footer {
  width: 100%;
  height: 60px;
  color: #fff;
  background-color: #f31d1d;
}

.footer {
  text-align: center;
  padding-top: 8px;
}

footer img {
  width: 100px;
}

/* -------------- RESPONSVO HOME -----------------*/

/*MENU RESPONSIVO*/

@media (max-width: 750px) {
  .checkbtn {
    display: block;
    z-index: 50;
  }

  .none {
    display: none;
  }

  .assinante {
    background-color: #000;
    color: #fff;
    padding: 7px;
    border: none;
    border-radius: 5px;
  }

  .sem-hover-btn:hover {
    color: #fff;
    background-color: black;
  }

  ul {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #f31d1d;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 10;
  }

  nav ul li {
    display: block;
    margin: 20px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 16px;
    color: white;
    font-weight: bold;
  }

  nav ul li a:hover {
    color: #fff;
  }

  a:hover,
  a.active {
    background: none;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

/*GERAL*/

@media screen and (max-width: 1397px) {
  .carousel-inner {
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .resiliaflix img {
    width: 40%;
  }

  .galeria-resilia img {
    width: 70%;
  }

  .galeria-resilia div {
    text-align: center;
  }
}
