/* -------------- HOME -----------------*/

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

header {
  background-color: #000;
}

/*MENU*/

nav {
  width: 100%;
  height: 70px;
  z-index: 50;
  position: initial;
}

.logo a img {
  width: 130px;
}

label.logo {
  position: absolute;
  margin: 22px 30px;
}

nav ul {
  float: right;
  margin-right: 15px;
}

nav ul li {
  display: inline-block;
  line-height: 20px;
  margin-top: 22px;
}

nav ul li a {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 15px;
  text-decoration: none;
  letter-spacing: 2px;
}

nav ul li a:hover {
  color: rgb(219, 219, 219);
  transition: 0.2s;
}

.sem-hover:hover {
  color: #fff;
}

.assinante {
  background-color: #f31d1d;
  padding: 7px;
  border: none;
  border-radius: 5px;
}

.checkbtn {
  font-size: 30px;
  color: #f31d1d;
  float: right;
  line-height: 70px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  z-index: 50;
}

#check {
  display: none;
}

.lupa {
  width: 16px;
  cursor: pointer;
}

/*Carrossel Filmes*/

.carousel-inner {
  height: 80vh;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

/*TEXTO RESILIA*/

.resiliaflix {
  background-color: #000;
}

.resiliaflix img {
  width: 18%;
  padding-top: 40px;
  padding-bottom: 20px;
  margin: 0 auto;
  display: flex;
}

.texto-descricao-resilia {
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 0;
  padding-bottom: 50px;
}

/*GALERIA FILMES*/

.container-resilia {
  max-width: 1400px;
  margin: 0 auto;
}

.galeria {
  width: 100%;
  background-color: #2f2f2f;
  padding-top: 30px;
  padding-bottom: 30px;
}

.galeria-resilia {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.galeria-resilia img {
  margin: 10px;
}

.galeria-resilia img:hover {
  opacity: 0.4;
  transition: 0.4s;
}

/*MOISACO FILMES*/

.mosaico-resiliaflex {
  background-color: #000;
  
}

.modelo-titulo {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.65rem;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.container-mosaico{
  max-width: 1700px;
  margin: 0 auto;
} 

.moisaco {
  display: flex;
  flex-wrap: wrap;
}

.foto-mosaico {
  width: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.texto-moisaco {
  width: 40%;
  background-color: #000;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  letter-spacing: 1px;
  
}

.texto-moisaco img {
  width: 40%;
  margin-bottom: 20px;
}

/*CARS ASSINATURA*/

.cards-assinatura {
  background-color: #1f1f1f;
  width: 100%;
  color: #fff;
}

.container-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 50px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.card-resiliaflix {
  width: 250px;
  height: 315px;
  background-color: #333;
  border-radius: 5px;
  margin: 20px;
}

.card-resiliaflix h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 0px;
}

.card-resiliaflix h3:after {
  content: "";
  display: block;
  max-width: 220px;
  height: 1px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 10px;
}

.card-resiliaflix h4 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  margin-top: 10px;
}

.preco-parcelas {
  display: flex;
  justify-content: space-around;
  max-width: 250px;
  margin: 0 auto;
}

.parcelas{
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0;
}

.cifrao {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0;
}

.cifrao span {
  font-size: 1rem;
  margin-right: 5px;
}

.adicionais-cards {
  margin: 8px;
 }

.adicionais-cards p {
  font-size: 1rem;
  margin: 0;
}

.btn-cards {
  background-color: #f31d1d;
  border: none;
  width: 220px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  font-size: 1.2em;
  text-transform: uppercase;
  cursor: pointer;
  margin: 10px;
}

.btn-cards:hover {
  background-color: rgb(194, 1, 1);;
}

/*TV RESILIAFLIX*/

.tv-resiliaflex {
  background-color: #000;
  display: flex;
}

.container-tv {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.tv-assinatura {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.tv-assinatura h2 {
  font-family:'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 20px;
}
.tv-assinatura p {
  font-size: 1.5rem;
  color: #fff;
  line-height: 25px;
}

.box-tv {
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

.foto-tv {
  display: flex;
  justify-content: flex-end;
}

.foto-tv img {
   width: 80%;
}

/*FOOTER*/

footer {
  text-align: center;
  padding-top: 8px;
  width: 100%;
  height: 60px;
  color: #fff;
  background-color: #f31d1d;
}

footer img {
  width: 100px;
}

/* -------------- RESPONSVO HOME -----------------*/

/*MENU RESPONSIVO*/

@media (max-width: 750px) {
  .checkbtn {
    display: block;
    z-index: 50;
  }

  .none {
    display: none;
  }

  .assinante {
    background-color: #000;
    color: #fff;
    padding: 7px;
    border: none;
    border-radius: 5px;
  }

  .sem-hover-btn:hover {
    color: #fff;
    background-color: black;
  }

  ul {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #f31d1d;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 10;
  }

  nav ul li {
    display: block;
    margin: 20px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 16px;
    color: white;
    font-weight: bold;
  }

  nav ul li a:hover {
    color: #fff;
  }

  a:hover,
  a.active {
    background: none;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

/*GERAL  RESPOSIVO */

@media screen and (max-width: 1397px) {
  .carousel-inner {
    height: 70vh;
  }
}

@media screen and (max-width: 1357px) {
  .carousel-inner {
    height: auto;
  }
}


@media screen and (max-width: 767px) {
  .resiliaflix img {
    width: 40%;
  }

  .galeria-resilia img {
    width: 70%;
  }

  .galeria-resilia div {
    text-align: center;
  }
}
 

/*RESPOSIVO MOSAICO FIMLES*/

@media screen and (max-width: 860px) {
  
  .tv-assinatura {
     width:100%;
  }
  .texto-moisaco img {
    width: 30%;
  }

  .foto-mosaico {
    order: 2;
    width: 100%;

  }
  .mosaico {
    flex-wrap: wrap;  
    flex-direction: column;
  }
}

/*RESPOSIVO TV RESILIA FLIX*/

@media screen and (max-width: 860px) {
  
  .texto-moisaco {
    width:100%;
  }
  .foto-tv {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .box-tv {
    width: 100%;
    padding-top: 0;
  }
 
  .container-tv {
    flex-wrap: wrap;  
    flex-direction: column;
  }
}